# **NOTE:** Before solving the assignment go to >> File > Save a copy in Drive :)

# 1-Write code to print the following:

**Expected output:**

```
I'm learning Python thanks ITI :")
```

In [3]:
# Your Code Below
print("I'm learning python thanks ITI :")

I'm learning python thanks ITI :

# 2-in Statistics, the Mean value is calculated by dividing the sum of all values by the count of these values. calculate the mean of 5 numbers 11, 7, 4, 18, 37

In [5]:
import statistics
num=[11,7,4,18,37]

# Your Code Below
print(statistics.mean([11,7,4,18,37]))

15.4

# 3-Write a Python program to print the calendar of a given month and year

```
year = 2023
month = 8

```
**Expected output:**
```
    August 2023
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31
```

In [6]:
# Your Code Below
import calendar
year = 2023
month = 8
print(calendar.month(year,month))

    August 2023
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

# 4-Write a Python program that accepts a word from the user and reverse it

**ِِExample**

```
enter a word: Abcd
Reversed : dcbA
```

In [2]:
# Your Code Below
word = input("enter a word: ")
print(word[::-1])

dcbA

# 5-Remove empty strings and numbers from the list

**Input**
```
list1 = [9,"I’m", "", " learning ", " python ", "", " at ITI",14.7]
```

**Expected output:**
```
['iam', 'learning', 'python', 'at iti']
````

In [ ]:
list1 = [9,"I’m", "", " learning ", " python ", "", " at ITI",14.7]

# Your Code Below
while ""

# 6-Counts the number of occurrences of item 50 from a tuple

**Input:**
```
tuple1 = (50, 10, 60, 70, 50)
```

In [ ]:
tuple1 = (50, 10, 60, 70, 50)

# Your Code Below

# 7-Return a new sorted list of identical items from the given two sets

```
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
```

**Expected output:**

`[30, 40, 50]`

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

# Your Code Below

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

# Your Code Below

# 8-Returns a new set with all items from both sets by removing duplicate


```
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
```

**Expected output:**

`{70, 40, 10, 50, 20, 60, 30}`

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

# Your Code Below

# 9-Given two Python sets, update the first set with items that exist only in the first set and not in the second set


```
set1 = {10, 20, 30}
set2 = {20, 40, 50}
```

**Expected output:**

`{10, 30}`

In [ ]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

# Your Code Below

# 10-Sort the given list based on the length of every item

`list_of_items = ["apple", "ball", "cat", "dog"]`

**Expected output:**

`['cat', 'dog', 'ball', 'apple']`

In [ ]:
list_of_items = ["apple", "ball", "cat", "dog"]

# Your Code Below

# 11-Sort the given list based on the number of every item

`list_of_items = [("Ramesh",56),("Reka",54),("Lasya",32),("Amar",89)]`

**Expected output:**

`[('Lasya', 32), ('Reka', 54), ('Ramesh', 56), ('Amar', 89)]`

In [ ]:
list_of_items = [("Ramesh", 56), ("Reka", 54), ("Lasya", 32), ("Amar", 89)]

# Your Code Below

# 12-Convert two lists into a dictionary

**Input**

```
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
```

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

# Your Code Below

# 13-Create a new dictionary by extracting the specific keys from a another dictionary

**Input:**
```
sample_dict = {
  "name": "kelly",
  "age": 25,
  "salary": 8000,
  "city": "new york"
}

keys = ["name", 'salary']
```

**Expected output:**

```
{'name': 'kelly', 'salary': 8000}
```

In [ ]:
sample_dict = {
  "name": "kelly",
  "age": 25,
  "salary": 8000,
  "city": "new york"
}

keys = ["name", 'salary']

# Your Code Below

# 14-Delete set of keys from a dictionary

**Input:**
```
sample_dict = {
  "name": "kelly",
  "age": 25,
  "salary": 8000,
  "city": "new york"
}

keys = ["name", 'salary']
```

**Expected output:**

```
{'age': 25, 'city': 'new york'}
```

In [ ]:
sample_dict = {
  "name": "kelly",
  "age": 25,
  "salary": 8000,
  "city": "new york"
}

keys_to_delete = ["name", 'salary']

# Your Code Below

# 15-Print first and last name in reverse order with a space between them

**Input:**
```
Johnny Depp
```

**Expected output:**

```
Depp Johnny
```

In [ ]:
# Your Code Below

# 16-Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string. If the string length is less than 2, return instead "Not valid"

**Input:**
```
'w3resource'
'w3'
'w'
```

**Expected output:**

```
'w3ce'
'w3w3'
'Not valid'
```

In [ ]:
# Test cases
inputs = [
    'w3resource',
    'w3',
    'w'
]

# Your Code Below

# 17-write a python program to ask the user for a number or e to exit the program and after exit return the summation for all numbers he entered

**EX:**

```
enter number or E to exit: 2
enter number or E to exit: 5
enter number or E to exit: 3.4
enter number or E to exit: Hello!
Unkown input please try again!!!
enter number or E to exit: 6.6
enter number or E to exit: 1
enter number or E to exit: e
output: 18.0
```

In [ ]:
# Your Code Below

# 18-Concatenate two lists index-wise

```
list1 = ["M", "na", "i", "ke"]
list2 = ["y", "me", "s", "lly"]
```
**Expected output:**

```
['My', 'name', 'is', 'kelly']
```

In [ ]:
list1 = ["M", "na", "i", "ke"]
list2 = ["y", "me", "s", "lly"]

# Your Code Below

# 19-Given a Python list of numbers. Turn every item of a list into its square

```
list = [1,2,3,4,5]
```
**Expected output:**

```
[1,4,9,16,25]
```

In [ ]:
original_list = [1, 2, 3, 4, 5]

# Your Code Below

# 20-Write a recursive function to calculate the sum of numbers from 0 to N

In [ ]:
# Your Code Below

# <font color='red'> **Challenge:**
   write a python function that take N number and return the summation from 1 to N without any loop , built in functions or recursion (its complexity just take O(1) )

In [ ]:
# Your Code Below